<div class="page-container">
  <nav class="navbar">
    <button class="btn back" (click)="goBack()">←</button>
    <div class="logo">
      <a
        href="home.component.html"
        style="text-decoration: none; color: #fff; margin-right: -60px"
      >
        Grocery<span>Mart</span></a
      >
    </div>
    <div class="links">
      <a routerLink="/user-dashboard/profile">Profile</a>
    </div>
  </nav>

  <div class="form-container">
    <h2>Change Password</h2>
    <form [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
      <!-- Old Password -->
      <div class="form-group">
        <label>Old Password</label>
        <input
          type="password"
          formControlName="oldPassword"
          [class.invalid]="isInvalid('oldPassword')"
        />
        <div class="error" *ngIf="isInvalid('oldPassword')">
          {{ getErrorMsg("oldPassword") }}
        </div>
      </div>

      <!-- New Password -->
      <div class="form-group">
        <label>New Password</label>
        <input
          type="password"
          formControlName="newPassword"
          [class.invalid]="isInvalid('newPassword')"
        />
        <div class="error" *ngIf="isInvalid('newPassword')">
          {{ getErrorMsg("newPassword") }}
        </div>
        <div class="error" style="color: red" *ngIf="showMismatch()">
          ❗ New password does not match the old password.
        </div>
      </div>

      <!-- Confirm New Password -->
      <div class="form-group">
        <label>Confirm New Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          [class.invalid]="isInvalid('confirmPassword')"
        />
        <div class="error" *ngIf="isInvalid('confirmPassword')">
          {{ getErrorMsg("confirmPassword") }}
        </div>
      </div>

      <button type="submit" class="btn submit" [disabled]="pwdForm.invalid">
        Submit
      </button>
    </form>
  </div>
</div>

<!-- Success Dialog -->
<div class="modal-backdrop" *ngIf="showDialog">
  <div class="modal">
    <p>Password changed successfully!</p>
    <button (click)="closeDialog()">OK</button>
  </div>
</div>
